@model Salon.ViewModels.DetailsViewModel

<h1>@Model.Name</h1>
<h3>@Model.Dob</h3>
<h5>@Model.Contact</h5>
<h5>@Model.Mobile</h5>
<h5>@Model.Email</h5>

@Html.ActionLink("Update Client", "Update", "Home", new { id = Model.ClientId })
@Html.ActionLink("Main", "Index", "Home")
